<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="login(path, login, name)">
    <div class="container-table mt-md-5">
        <div class="align-center container-fluid">
            <div class="row justify-content-md-center">
                <div class="mbr-section-head">
                    <h3 class="text-center mb-0 display-2"><strong th:text="${name}"></strong></h3>
                </div>
            </div>
        </div>
    </div>

    <form th:action="${path}" method="post"  th:classappend="${login} ? 'form-inline mt-4' : 'form-signin mt-4'">
        <input type="hidden" name="_csrf" value="${_csrf.token}" />

        <!-- ============= EMAIL ============= -->
        <input type="email" name="email" placeholder="Email"
               class="inputReg"
               th:classappend="${emailError} ? 'mt-2 mr-2 form-control is-invalid' : 'mt-2 mr-2 form-control'"
               value=""
               id="email-form8-8">

        <div th:if="!${login}">
            <!-- ============= USER name ============= -->
            <input type="text" name="username" placeholder="User name"
                   class="inputReg"
                   th:classappend="${textError} ? 'mt-2 mr-2 form-control is-invalid' : 'mt-2 mr-2 form-control'"
                   th:value="${user} != null ? ${user.username} : ''">
        </div>

        <!-- ============= PASSWORD ============= -->
        <input type="password" name="password" placeholder="Password"
               class="inputReg"
               th:classappend="${passwordError} ? 'mt-2 mr-2 form-control is-invalid' : 'mt-2 mr-2 form-control'"
               value="" id="pass">
        <small th:if="!${login}" id="passwordEval" class="form-text text-muted">Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</small>

        <!-- ============= PASSWORD2 ============= -->
        <div th:if="!${login}">
            <input type="password" name="password2" placeholder="Repeat password"
                   class="inputReg"
                   th:classappend="${password2Error} ? 'mt-2 mr-2 form-control is-invalid' : 'mt-2 mr-2 form-control'"
                   value="" id="pass2">
            <small th:if="!${login}" id="passwordEval2" class="form-text text-muted"></small>
        </div>

        <div th:if="!${login}">
            <select name="question" id="cars" class="inputReg form-control mt-2 mr-2">
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).BOOK}">What Is your favorite book?</option>
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).ROAD}">What is the name of the road you grew up on?</option>
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).MOTHER}">What is your mother's maiden name?</option>
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).PET}">What was the name of your first/current/favorite pet?</option>
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).COMPANY}">What was the first company that you worked for?</option>
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).SPOUSE}">Where did you meet your spouse?</option>
                <option th:value="${T(com.example.semestral_work.domain.enums.QuestionType).SCHOOL}">Where did you go to high school/college?</option>
            </select>
        </div>

        <div th:if="!${login}">
            <input type="text" placeholder="Answer"
                   class="inputReg mt-2 mr-2 form-control"
                   name="answer">
        </div>

        <button type="submit" class="mt-2 btn btn-primary display-4" th:id="${login} ? 'loginbtn' : 'saveBtn'">Submit</button>

    </form>

</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="logout">
    <form class="nav-item"  action="/logout" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <input type="submit" value="Sign Out"/>
    </form>
</th:block>