<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:fragment="navbarUser">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tic•tac•toe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-md-auto">
                <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/login">Log-in<br></a></li>
                <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/registration" >Registration</a></li>
<!--                <li sec:authorize="isAuthenticated()" class="nav-item"> <a class="nav-link" href="/user/profile">Profile</a></li>-->
                <li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link" href="/user">User list</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/main">Lobby<br></a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/logs">Games<br></a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="#" th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </nav>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="head">
    <meta charset="UTF-8">
    <title>Tic-tac-toe</title>

    <link rel="stylesheet" th:href="@{/css/tether.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mbr-additional.css}" type="text/css">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</th:block>
