<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">

    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <main class="inner cover">
                <div class="container-table mt-md-5">
                    <div class="align-center container-fluid">
                        <div class="row justify-content-md-center">
                            <div class="mbr-section-head">
                                <h3 class="text-center mb-0 display-2"><strong th:text="${errorCode}">Page Not Found</strong></h3>
                                <p class="text-center lead" th:text="${errorDesc}">There's no page here!</p>
                                <p class="text-center lead">Go back to <a href="/">home page</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>

<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsMain"></div>

</body>
</html>