<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<!-- MAIN DIV -->
<div class="main-container">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <main class="inner cover">
            <div class="center_div">

                <div th:if="${message}" class="alert-box mt-4" th:classappend="${messageType}" role="alert" th:text="${message}"></div>

                <div class="container-table mt-md-5">
                    <div class="align-center container-fluid">
                        <div class="row justify-content-md-center">
                            <div class="mbr-section-head">
                                <h3 class="text-center mb-0 display-2"><strong>Forgot Password</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion" class="mt-4">
                    <div class="">
                        <div class="card-header cid-sdYMJjrhns" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed btnReset" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Reset password using an email and secret question
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <form action="/forgotPassword" method="post">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}" />

                                    <div class="form-group row">
                                        <input type="email" name="email" placeholder="Email"
                                               class="inputReg mt-2 mr-2 form-control"
                                               value=""
                                               id="email-form8-8">
                                    </div>

                                    <div class="form-group row">
                                        <select name="question" id="cars" class="inputReg form-control mt-2 mr-2">
                                            <option value="book">What Is your favorite book?</option>
                                            <option value="road">What is the name of the road you grew up on?</option>
                                            <option value="mother">What is your mother's maiden name?</option>
                                            <option value="pet">What was the name of your first/current/favorite pet?</option>
                                            <option value="company">What was the first company that you worked for?</option>
                                            <option value="spouse">Where did you meet your spouse?</option>
                                            <option value="school">Where did you go to high school/college?</option>
                                        </select>
                                    </div>

                                    <div class="form-group row">
                                        <input type="text" placeholder="Answer"
                                               class="inputReg mt-2 mr-2 form-control"
                                               name="answer">
                                    </div>

                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-block btn-primary">Send</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </main>

        <!-- FOOTER -->
        <div th:insert="parts/footer :: footer"></div>
    </div>
</div>

<!-- SCRIPTS -->
<div th:insert="parts/footer :: scripts"></div>

</body>
</html>


