<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">
    <!-- MAIN DIV -->
    <div id="gamePage" class="container mt-5">
        <div id="userId" class="hidden" th:text="${user.getId()}"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="userList col mr-4">
                    <h6 class="text-center display-4"><strong>Friends</strong></h6>

                    <div class="align-center container-fluid">
                        <div class="row justify-content-md-center">
                            <div class="mbr-section-head">
                                <small th:if="${#lists.isEmpty(friends)}">No friends</small>
                            </div>
                        </div>
                    </div>

                    <div class="tableList">
                        <table class="table" th:if="${not #lists.isEmpty(friends)}">
                            <tbody id="friends">
                            <tr th:each="friend: ${friends}">
                                <td class="games-table col-md-1" >
                                    <form class="form-inline">
                                        <div class="user-list border-top">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7">
                                                    <div class="row">
                                                        <span class="p-2 user-name ml-2" th:classappend="${friend.getUser().isOnline() ? 'online' : 'offline'}">•</span>
                                                        <h5 th:text="${friend.user.getUsername()}"></h5>
                                                    </div>
                                                    <p th:text="${friend.user.getStatus()}"></p>
                                                </div>
                                                <p class="text-muted" th:if="${#strings.equals(friend.getStatus(), 'REQUEST')}">Waiting..</p>
                                                <div class="col-md-3 col-sm-3">
                                                    <button th:if="${#strings.equals(friend.getStatus(), 'APPROVED')}" th:id="${friend.getUser().getId()}" class="icon-button pull-right askFriend btn btn-default" type="submit"><i class="far fa-question-circle circleAsk"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="container">
                    <div class="text-center info-text alert-box info">
                        Информационный текст
                    </div>
                    <div class="game-area">
                        <div class="row">
                            <div class="col col-xs-4 a1">
                                <button type="button" id="a1" class="grid neutral"></button>
                            </div>
                            <div class="col col-xs-4 b1">
                                <button type="button" id="b1" class="grid neutral"></button>
                            </div>
                            <div class="col col-xs-4 c1">
                                <button type="button" id="c1" class="grid neutral"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-4 a2">
                                <button type="button" id="a2" class="grid neutral"></button>
                            </div>
                            <div class="col col-xs-4 b2">
                                <button type="button" id="b2" class="grid neutral"></button>
                            </div>
                            <div class="col col-xs-4 c2">
                                <button type="button" id="c2" class="grid neutral"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-4 a3">
                                <button type="button" id="a3" class="grid neutral"></button>
                            </div>
                            <div class="col col-xs-4 b3">
                                <button type="button" id="b3" class="grid neutral"></button>
                            </div>
                            <div class="col col-xs-4 c3">
                                <button type="button" id="c3" class="grid neutral"></button>
                            </div>
                        </div>
                    </div>
                    <div class="info-buttons">
                        <button type="button" id="exit" class="btn btn-lg btn-danger">Exit</button>
                        <button type="button" id="resetGame" class="mt-3 mb-3 btn btn-lg btn-warning">Reset game</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- CHAT -->
                <div id="chat-page" class="card">
                    <div class="card-body height3">
                        <ul id="messageArea" class="chat-list"> </ul>
                    </div>
                    <form id="messageForm" name="messageForm">
                        <div class="form-group">
                            <div class="input-group clearfix">
                                <div class="input-group mb-3 ml-3 mr-3">
                                    <input maxlength="20" type="text" id="message" class="inputReg" placeholder="Type a message ...">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button id="cancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>



<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsGame"></div>

</body>
</html>