<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">

    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <main class="inner cover">
                <div class="center_div">

                    <div th:if="${message}" class="alert-box mt-4" th:classappend="${messageType}" role="alert" th:text="${message}"></div>

                    <div th:insert="parts/login :: login(path='/login', login='true', name='Log-in')"></div>

                    <div th:if="${loginError}" class="danger alert-box mt-4" role="alert">Incorrect username or password.</div>


                    <div class="ml-1 mt-1 form-inline">
                        <a href="/forgotPassword">Forgot password?</a>
                        <!--                                                or sign in with: <a href="/oauth2/authorization/github">GitHub</a>-->

                        <!--                        <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>-->
                        <!--                        <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>-->
                        <!--                        <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>-->
                        <!--                        <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>-->
                    </div>
                </div>
            </main>

        </div>
    </div>

    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>

        <!-- SCRIPTS -->
        <div th:insert="parts/footer :: scripts"></div>

</body>
</html>


