<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">

    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <div id="userId" class="hidden" th:text="${user.getId()}"></div>
            <div id="username" class="hidden" th:text="${user.getUsername()}"></div>
            <main class="inner cover">
                <div class="container-table mt-md-5">
                    <div class="align-center container-fluid">
                        <div class="row justify-content-md-center">
                            <div class="mbr-section-head">
                                <h3 class="text-center mb-0 display-2"><strong>Games</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-table mt-md-5">
                    <div class="align-center container-fluid">
                        <div class="row justify-content-md-center">
                            <div class="col-md-10">
                                <div class="align-center container-fluid">
                                    <div class="row justify-content-md-center">
                                        <div class="mbr-section-head">
                                            <small th:if="${#lists.isEmpty(newGames)}">No games</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <table class="table" th:if="${not #lists.isEmpty(newGames)}">
                                    <thead>
                                    <tr>
                                        <th class="myHeader" scope="col">#</th>
                                        <th class="myHeader" scope="col">Player 1</th>
                                        <th class="myHeader" scope="col">Player 2</th>
                                        <th class="myHeader" scope="col">Status</th>
                                        <th class="myHeader" scope="col">Winner</th>
                                        <th class="myHeader" scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="logs-list">
                                    <tr th:each="game: ${newGames}">
                                        <th class="gameId games-table" scope="row" th:text="${game.getId()}">id</th>
                                        <td class="firstPlayer games-table col-md-6" th:id="${game.getPlayersInstance().getFirst_user().getId()}" th:if="${game.getPlayersInstance().getFirst_user() == null}">No players</td>
                                        <td class="secondPlayer games-table col-md-6" th:id="${game.getPlayersInstance().getSecond_user().getId()}" th:if="${game.getPlayersInstance().getSecond_user() == null}">No players</td>
                                        <td class="firstPlayer games-table col-md-6" th:id="${game.getPlayersInstance().getFirst_user().getId()}" th:if="${game.getPlayersInstance().getFirst_user() != null}" th:text="${game.getPlayersInstance().getFirst_user().getUsername()}"></td>
                                        <td class="secondPlayer games-table col-md-6" th:id="${game.getPlayersInstance().getSecond_user().getId()}" th:if="${game.getPlayersInstance().getSecond_user() != null}" th:text="${game.getPlayersInstance().getSecond_user().getUsername()}"></td>
                                        <td class="games-table col-md-6" th:text="${game.getStatus()}">No players</td>
                                        <td class="games-table col-md-6" th:text="${game.getWinner().getUsername()}">No players</td>
                                        <td class="games-table col-md-6"><button th:id="${game.getId()}" type="button" class="resetGameLogs btn btn-warning">Reset game</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>


<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsLogs"></div>

</body>
</html>
