<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>

<body class="body">
    <!-- NAVBAR -->
    <div th:insert="parts/navbar ::  navbarUser"></div>

    <!-- NOTIFICATIONS -->
    <div id="notification" class="position-absolute w-100 d-flex flex-column p-4">
    </div>

    <div class="page-container">
        <!-- MAIN -->
        <div id="mainPage" class="container mt-5">
            <div id="userId" class="hidden" th:text="${user.getId()}"></div>

            <div class="row">
                <div class="col-lg-3 col-md-3 mainMargin">
                    <div id="friends" class="userList friendClass">
                        <h6 class="text-center display-4"><strong>Friends</strong></h6>

                        <div class="align-center container-fluid">
                            <div class="row justify-content-md-center justify-content-sm-center">
                                <div class="mbr-section-head">
                                    <small th:if="${#lists.isEmpty(friends)}">No friends</small>
                                </div>
                            </div>
                        </div>

                        <div class="tableList">
                            <table class="table">
                                <tbody>
                                <tr th:each="friend: ${friends}">
                                    <td class="games-table col-md-1" >
                                        <form class="form-inline">
                                            <div class="user-list border-top">
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-7">
                                                        <div class="row">
                                                            <span class="p-2 user-name ml-2" th:classappend="${friend.getUser().isOnline() ? 'online' : 'offline'}">•</span>
                                                            <h5 th:text="${friend.user.getUsername()}"></h5>
                                                        </div>
                                                        <p th:text="${friend.user.getStatus()}"></p>
                                                    </div>
                                                    <p class="text-muted" th:if="${#strings.equals(friend.getStatus(), 'REQUEST')}">Waiting..</p>
                                                    <div class="col-md-3 col-sm-3">
                                                        <button type="button"  th:if="${#strings.equals(friend.getStatus(), 'APPROVED') || #strings.equals(friend.getStatus(), 'WAITING')}" th:id="${friend.getUser().getId()}" class="icon-button pull-right deleteFriend btn btn-default"><i class="fas fa-ban circleRequest"></i></button>
                                                        <button type="button" th:if="${#strings.equals(friend.getStatus(), 'WAITING')}"  th:id="${friend.getUser().getId()}" class="icon-button pull-right addFriend2 btn btn-default"><i class="mt-1 fas fa-plus-circle circleAdd user-name"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mainMargin margin2">
                    <div class="container-table">
                        <div class="align-center container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="mbr-section-head">
                                    <h3 class="text-center mb-0 display-2"><strong>Hello, </strong><strong id="username" th:text="${user.getUsername()}"></strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-signin">
                        <input type="hidden" name="_csrf" value="${_csrf.token}" />
                        <button class="btn btn-lg btn-primary btn-block" id="newGame">Start new game</button>
                    </div>

                    <div id="message" class="alert-box mt-4 danger hidden" role="alert"></div>

                    <div id="gameList" class="gameClass">

                        <div class="container-table mt-md-5">
                            <div class="align-center container-fluid">
                                <div class="row justify-content-md-center">
                                    <div class="mbr-section-head">
                                        <small th:if="${#lists.isEmpty(newGames)}">No games</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table">
                            <tbody class="games-list">
                            <tr th:each="game: ${newGames}">
                                <th class="games-table" scope="row" th:text="${game.getId()}">id</th>
                                <td class="userNameGame games-table col-md-6" th:if="${game.getPlayersInstance().getFirst_user() == null && game.getPlayersInstance().getSecond_user() == null}">No players</td>
                                <td class="firstPlayerName games-table col-md-6" th:if="${game.getPlayersInstance().getFirst_user() != null}" th:text="${game.getPlayersInstance().getFirst_user().getUsername()}"></td>
                                <td class="secondPlayerName games-table col-md-6" th:if="${game.getPlayersInstance().getSecond_user() != null}" th:text="${game.getPlayersInstance().getSecond_user().getUsername()}"></td>
                                <td class="games-table col-md-6" th:if="${!#strings.equals(game.getStatus(), 'INPROGRESS')}"><button class="btn info connect" th:id="${game.getId()}"></button></td>
                                <td class="games-table col-md-6" th:if="${!#strings.equals(game.getStatus(), 'INPROGRESS')}"><button class="btn danger delete" th:id="${game.getId()}"></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mainMargin">
                    <div id="onlineUsers" class="userList onlineClass">
                        <h6 class="text-center display-4"><strong>Online</strong></h6>
                        <div class="align-center container-fluid">
                            <div class="row justify-content-md-center">
                                <div id="noOnline" class="mbr-section-head">
                                    <small th:if="${onlineUsers.size() < 2}">No online</small>
                                </div>
                            </div>
                        </div>
                        <div class="tableList">
                            <table class="table" th:if="${not #lists.isEmpty(onlineUsers)}">
                                <tbody th:if="${onlineUsers.size() > 1}">
                                <tr th:each="userL: ${onlineUsers}">
                                    <td th:if="${user.getUsername()} != ${userL.getUsername()}" class="user-list border-top games-table col-md-1" >
                                        <div class="form-inline">
                                            <span class="online user-name ml-2">•</span>
                                            <span id="onlineUserName" class="user-name ml-2" th:text="${userL.getUsername()}">•</span>
                                            <button type="button" th:if="${!userL.getFriend()}" th:id="${userL.getId()}" class="icon-button addFriend btn btn-default"><i class="icon-button mt-1 fas fa-plus-circle circleAdd user-name"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button id="cancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="okBtn" type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div th:insert="parts/footer :: footer"></div>
    </div>

    <!-- SCRIPTS -->
    <div th:insert="parts/footer :: scriptsLobby"></div>

</body>
</html>

