<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">
    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <main class="inner cover">
                <div class="container-table mt-md-5">
                    <div class="align-center container-fluid">
                        <div class="row justify-content-md-center">
                            <div class="mbr-section-head">
                                <h3 class="text-center mb-0 display-2"><strong th:text="${username}"></strong></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!--            TODO: Add action -->
                <form action="/user/profile" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}" />

                    <div class="form-group row">
                        <input readonly type="text" name="username" class="form-control" placeholder="User name" th:value="${username} != null ? ${username} : ''" />
                    </div>
                    <div th:if="${usernameError} != null" class="invalid-feedback">
                        <span th:if="${usernameError} != null" th:text="${usernameError}">Username error</span>
                    </div>


                    <div class="form-group row">
                        <input readonly type="email" name="email" class="form-control" placeholder="some@some.com" th:value="${email} != null ? ${email} : ''" />
                    </div>
                    <div th:if="${emailError} != null" class="invalid-feedback">
                        <span th:if="${emailError} != null" th:text="${emailError}">Username error</span>
                    </div>


                    <div class="form-group row">
                        <input type="password" name="password1" class="form-control" placeholder="Password" id="pass"/>
                        <small id="passwordEval" class="form-text text-muted">Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</small>
                    </div>
                    <div th:if="${passwordError} != null" class="invalid-feedback">
                        <span th:if="${passwordError} != null" th:text="${passwordError}">Username error</span>
                    </div>

                    <div class="form-group row">
                        <input type="password" name="password2" class="form-control" placeholder="Password" id="pass2"/>
                        <small id="passwordEval2" class="form-text text-muted"></small>
                    </div>
                    <div th:if="${password2Error} != null" class="invalid-feedback">
                        <span th:if="${password2Error} != null" th:text="${password2Error}">Username error</span>
                    </div>
                    <div class="form-group row">
                        <button class="btn btn-block btn-primary" id="saveBtn" type="submit">Save</button>
                    </div>


                </form>
            </main>

        </div>
    </div>

    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>

<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsMain"></div>

</body>
</html>