<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">

    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <main class="inner cover">
                <div class="center_div">
                    <div th:if="${message}" class="alert-box mt-4" th:classappend="${messageType}" role="alert" th:text="${message}"></div>

                    <div th:insert="parts/login :: login(path='/registration', login='false', name='Hello')"></div>
                </div>
            </main>

        </div>
    </div>

    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>


<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsMain"></div>

</body>
</html>
