<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">
    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <main class="inner cover">

                <div class="mt-4 mb-4 text-center logo"><h3 style="text-decoration: underline;" th:text="${currentUser}"></h3> <h3>List of users</h3></div>
                <table class="table">
                    <tbody>
                    <tr th:each="user : ${users}">
                        <th class="gfguserid games-table" scope="row" th:text="${user.id}"></th>
                        <td class="gfgusername games-table col-md-6" th:text="${user.username}"></td>
                        <td class="gfguserrole games-table col-md-6" th:text="${user.roles}"></td>
                        <td class="games-table col-md-6"><button data-toggle="modal" data-target="#myModal" class="editUser btn info edit">Edit</button></td>
                        <td class="games-table col-md-6"><button class="btn danger deleteUser" th:id="${user.id}">Delete</button></td>
                        <td class="games-table col-md-6"><button class="btn warning resetPassword" th:id="${user.id}">Reset password</button></td>
                    </tr>
                    </tbody>
                </table>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">User editor</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="divGFG" action="/user" method="post">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>


<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsUserList"></div>

</body>
</html>