<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="parts/navbar :: head"></head>


<body class="body">
<!-- NAVBAR -->
<div th:insert="parts/navbar ::  navbarUser"></div>

<div class="page-container">

    <!-- MAIN DIV -->
    <div class="main-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <main class="inner cover">
                User editor
                <form action="/user" method="post">
                    <input type="text" name="username" th:value="${user.username}">
                    <tbody>
                    <tr th:each="role : ${roles}">
                        <label th:text="${role}"><input type="checkbox" th:value="${role}" th:name="${role}"></label>
                    </tr>
                    </tbody>
                    <input type="hidden" value="${user.id}" name="userId">
                    <input type="hidden" value="${_csrf.token}" name="_csrf">
                    <button type="submit">Save</button>
                </form>
            </main>

            <div>
                <input type="text" name="username" th:value="${user.username}">
                <input type="hidden" value="${user.id}" name="userId">
                <input type="hidden" value="${_csrf.token}" name="_csrf">
                <button type="submit">Save</button>
            </div>

        </div>
    </div>

    <!-- FOOTER -->
    <div th:insert="parts/footer :: footer"></div>
</div>


<!-- SCRIPTS -->
<div th:insert="parts/footer :: scriptsMain"></div>

</body>
</html>
